INSTALL_WEB_INTERFACE=true
WEBPASSWORD={{ password | hash('sha256') | hash('sha256') }}
PIHOLE_INTERFACE=eth0
QUERY_LOGGING=true
BLOCKING_ENABLED=true
TEMPERATUREUNIT=F
DNSMASQ_LISTENING=single
DNS_FQDN_REQUIRED=false
DNS_BOGUS_PRIV=false
DNSSEC=false
REV_SERVER=false
WEBUIBOXEDLAYOUT=boxed
WEBTHEME=default-auto
PIHOLE_DNS_1=8.8.8.8
PIHOLE_DNS_2=8.8.4.4
PIHOLE_DNS_3=208.67.222.222
PIHOLE_DNS_4=208.67.220.220
PIHOLE_DNS_5=9.9.9.11
PIHOLE_DNS_6=149.112.112.11
